@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  .font-outline-2-dark {
    color: #1E0342;
    text-shadow: -2px -2px 0 #E1F7F5,
      2px -2px 0 #E1F7F5,
      -2px 2px 0 #E1F7F5,
      2px 2px 0 #E1F7F5;
    ;
  }

  .font-outline-2-light {
    color: #E1F7F5;
    text-shadow: -2px -2px 0 #1E0342,
      2px -2px 0 #1E0342,
      -2px 2px 0 #1E0342,
      2px 2px 0 #1E0342;
    ;
  }
}